<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwu.mapper.tutor.common.TeacherInfoMapper">
    <select id="getTeacherInfo" parameterType="string" resultMap="firstInfo">
        SELECT *
        FROM teacher_info
        WHERE ZGH = #{tutorId}
    </select>
    <resultMap id="firstInfo" type="com.nwu.entities.tutor.FirstPage">
        <result property="tutorId" column="ZGH"></result>
        <result property="name" column="XM"></result>
        <result property="gender" column="XB"></result>
        <result property="birthday" column="CSRQ"></result>
        <result property="identity" column="SFZJH"></result>
        <result property="phone" column="SJH"></result>
        <result property="organizationName" column="MC"></result>
        <result property="organizationId" column="DM"></result>
        <result property="title" column="ZCMC"></result>
        <result property="finalDegree" column="ZGXW"></result>
        <result property="blobImage" column="SHZ"></result>
    </resultMap>

    <select id="getSystemUserInfo" resultType="com.nwu.entities.SystemUser">
        select XM as name, DM as organization_id, MC as organization_name from teacher_info WHERE ZGH = #{tutorId}
    </select>

</mapper>
