<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwu.mapper.AuthorizationMapper">

    <select id="getAuthorization" resultType="string">
        SELECT authorization
        FROM system_user
                 LEFT JOIN role ON system_user.role_id = role.role_id
        WHERE tutor_id = #{tutorId}
    </select>

</mapper>
