<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwu.mapper.SystemUserMapper">

    <select id="getAll" resultType="com.nwu.entities.SystemUser">
        SELECT *
        FROM system_user
        WHERE status = 1
          AND role_id in (2, 4, 6, 7)
        <if test="query.tutorId != ''">
            AND tutor_id like #{query.tutorId}
        </if>
        <if test="query.name != ''">
            AND name like #{query.name}
        </if>
        <if test="query.roleId != ''">
            AND role_id = #{query.roleId}
        </if>
        LIMIT ${pageStart}, 10
    </select>

    <select id="getQueryTutorId" resultType="string">
        SELECT ZGH
        FROM teacher_info
        where ZGH like #{tutorId}
    </select>

    <select id="getSystemUserByTutorId" resultType="com.nwu.entities.SystemUser">
        SELECT ZGH as tutorId,
               XM  as name,
               MC  as organizationName,
               DM  as organizationId
        FROM teacher_info
        WHERE ZGH = #{tutorId}
    </select>
</mapper>


